.login{
    background-color: rgb(0, 119, 197);
    color: white;
    max-height: 20px;
}
#sign-in{
    display: grid;
    justify-items: end;
    grid-template-columns: 10fr 1fr;
    background-color: black;
}
